/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: var(--bg-color);
  scroll-behavior: smooth;
}
:root {
  --theme-color: #e40000;
  --primary-color: #fb811e;
  --primary-light: #fcf1e7;
  --primary-dark: #ffc945;
  --secondary-color: #009f4d;
  --font-color: #707070;
  --bg-color: #fff;
  --heading-color: #060606;
  --footer-color: #060e1f;
  --footer-cpy-color: #040a17;
  --border-radius: 30px;
  --border-radius-full: 15px;
  --border-color: transparent;
  --border-color-light: #eee;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f4f4f4;
  --bg-light: #fafafa;
  --bg-dark-color: #fff;
  --quote-text-color: #1d2c4c;
  --icon-gra-color: linear-gradient(75deg, #1c2e7b 10%, #e60264);
  --shadow-color: rgb(0 0 0 / 3%);
  --box-shadow: rgb(0 0 0 / 41%);
}
/**/
.dark-mode {
  --bg-color: #222222;
  --heading-color: #fff;
  --bg-grey: #0b0d0e;
  --shadow-color: rgb(23 19 19);
  --border-color-light: rgb(255 255 255 / 20%);
  --font-color: #b7b7b7;
  /* /******************************** */
  --border-color-card: rgb(255 255 255 / 20%);
  --color-card-detail-p: #b7b7b7;
  --sticky-color: #fff;
  --color-item: #fff;
}
html,
body {
  color: #404040;
  line-height: 1.5;
  position: relative;
}
/* NÚT BUTTON */
.btn__style {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background-color: var(--primary-color);
  border: none;
  border-radius: 30px;
  color: white;
  margin-top: 48px;
  transition: all 0.5s;
}
.btn__style:hover {
  background-color: var(--secondary-color);
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  outline: 0;
}
/*START HEADER*/
header {
  display: grid;
  grid-template-rows: 1fr;
  height: 90px;
  align-items: center;
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.5s ease 0s;
}
.sticky {
  padding: 0;
  background: var(--bg-color);
  height: 70px;
  box-shadow: 3px 6px 0 rgb(0 0 0 / 5%);
}
.sticky .header__content h1 a {
  color: var(--heading-color);
}
.sticky .navbar__mode i {
  color: var(--heading-color);
}
.sticky .navbar__drop-menu i {
  color: var(--heading-color);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.header__content .navbar {
  justify-content: space-around;
  align-items: center;
  position: relative;
}
/* phần header-logo */
.header__content h1 a {
  font-family: "Volkhov", serif;
  font-size: 32px;
  color: var(--primary-color);

  text-decoration: none;
  position: relative;
  transition: all 0.5s;
}
.header__content h1 i {
  position: absolute;
  font-size: 20px;
  top: -3px;
  left: 55px;
  transform: translate(10deg);
  display: inline-block;
}
/* phần header-search*/
.navbar__search {
  margin: 0 10px;
  position: relative;
}
.navbar__search input {
  background: #fff
    url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/search.png)
    no-repeat 10px center;
  border: 1px solid #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  transition: all 0.5s;
  outline: none;
  cursor: pointer;
}
.navbar__search input:focus {
  width: 200px;
  padding-left: 32px;
  padding-right: 15px;
  background-color: #fff;
  color: #000;
  cursor: auto;
}
/* phần nabar-mode */
.navbar__mode i {
  transition: all 0.5s;
  color: #fff;
}
.navbar__mode {
  position: relative;
}
.navbar__mode .switch {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  transform: rotate(-25deg);
  margin: 0 10px;
  cursor: pointer;
}
.navbar__mode i:hover {
  color: var(--primary-color);
}
/* phần nabar-dropmenu */
.navbar__drop-menu i {
  transition: all 0.5s;
}
.navbar__drop-menu {
  position: relative;
}
.dropdown button i {
  font-size: 27px;
  font-weight: bold;
}
.dropdown-menu {
  text-align: center;
  min-width: 8em;
  background-color: var(--bg-color);
  display: none;
  padding: 0.5rem 31px;
  left: -200px;
}
.dropdown-menu a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.dropdown-menu.show .navbar__drop-menu .btn {
  box-shadow: none;
  outline: 0;
}
.sticky .header__content a:hover {
  color: var(--primary-color);
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu.show {
  font-family: "Source Sans Pro", sans-serif;
  top: 43px;
  left: -188px;
  padding: 0.5rem 31px;
}
.dropdown-item {
  padding: 7px 30px;
  transition: all 0.5s;
  color: var(--heading-color);
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}
.dropdown-toggle.btn:focus,
.btn.focus {
  box-shadow: none;
  outline: 0;
}
.dropdown-item.active,
.dropdown-item:active {
  color: var(--primary-color);
  text-decoration: none;
  background: none;
}
/* END HEADER  */
/****************Reposive header**************/
@media screen and (max-width: 991.98px) {
  .header__content {
    height: auto;
  }
  .header__content h1 a {
    color: #fff;
  }
}
/* START CAROUSEL */
.carousel__content .row {
  align-items: center;
}
.left__title {
  transform: translateY(-50%);
  font-family: "Volkhov", serif;
}
.carousel__content .left__title h2 {
  color: var(--bg-grey);
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  top: -90px;
  left: -55px;
  z-index: -1;
}
.carousel__content .left__title h3 {
  font-size: 53px;
  line-height: 60px;
  font-weight: bold;
  color: var(--heading-color);
}
.carousel__content .left__title p {
  font-size: 20px;
  color: var(--font-color);
  font-family: "Volkhov", serif;
}
.carousel__left {
  width: 100%;
}
.carousel__right {
  width: 100%;
  margin-left: 10px;
}
#carousel__show img {
  width: 100%;
  min-height: 100%;
  border-bottom-left-radius: 20px;
}
.carousel-item {
  width: 100%;
  height: 100%;

  border-bottom-left-radius: 20px;
  position: relative;
}
.carousel__right .title__img {
  position: absolute;
  bottom: 50px;
  right: 25px;
  color: #fff;
  text-align: center;
  z-index: 50;
}
.carousel__right .title__img h4 {
  font-family: "Volkhov", serif;
  color: #fff;
}
.title__img h4 .span1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  color: #fff;
}
.title__img h4 span {
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: #fff;
}
.col-5 {
  position: static;
  padding: 0;
}
.left__title {
  position: absolute;
  left: 10em;
  z-index: 3;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.carousel-indicators .active {
  background-color: var(--primary-color);
}
.carousel-inner {
  border-bottom-left-radius: 20px;
  width: 100%;
  height: 100vh;
}
.carousel-item::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 20px;
}
/*END CAROUSEL*/
/****************Reposive carousel**************/

/* START GROW NATURALLY */
.grow-naturally {
  font-family: "Volkhov", serif;
}
.grow-naturally .left__content {
  padding: 0 48px 0 15px;
}
.grow-naturally h5 {
  color: var(--primary-color);
  font-size: 22px;
}
.grow-naturally h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: var(--heading-color);
}
.grow-naturally p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
}
.grow-naturally .right__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.grow-naturally .item {
  padding: 40px 30px;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: 0 1rem 3rem var(--shadow-color);
  transition: all 0.3s;
  background-color: var(--bg-color);
}
.grow-naturally .item:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.grow-naturally .item img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.grow-naturally .item a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: var(--heading-color);
  text-decoration: none;
  transition: all 0.5s;
}
.grow-naturally .item a:hover {
  color: var(--secondary-color);
}

/*END GROW NATURUALLY*/

/*START CHOOSE FOOD*/
.w3l-servicesblock p {
  font-family: "Source Sans Pro", sans-serif;
}
.imginfo__box .imginfo__title {
  font-family: "Volkhov", serif;
}
.choose-food {
  background-color: var(--secondary-color);
  position: relative;
}
.choose-food .choose__above {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 48px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.choose-food h5 {
  font-size: 22px;
  color: #fff;
  font-family: "Volkhov", serif;
}
.choose-food h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  font-family: "Volkhov", serif;
}
.choose-food .choose__above p {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
.choose-food__content .big__title {
  font-family: var(--font-family-Vol);
  text-align: center;
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50%;
  align-items: center;
}
.choose__bottom {
  font-family: var(--font-family-Sour);
}
.choose__bottom .card {
  border: none;
  background: none;
}
.choose__bottom .card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  max-width: 100%;
  cursor: pointer;
}
.choose__bottom .card__detail {
  background-color: var(--bg-color);
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid var(--border-color-light);
  border-top: none;
}
.card__detail span {
  color: var(--secondary-color);
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
.card__detail h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: var(--heading-color);
  margin: 15px 0;
  transition: all 0.5s;
  cursor: pointer;
}
.card__detail h4:hover {
  color: var(--secondary-color);
}
.card__detail p {
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
}
/*END CHOOSE FOOD*/
h5.small-title {
  color: var(--primary-color);
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: black;
  font-family: "Volkhov", serif;
}
h4 {
  font-family: "Volkhov", serif;
  color: var(--heading-color);
  font-weight: 700;
}
.imginfo__box {
  background-color: var(--primary-color);
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.imginfo__box .imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.imginfo__box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.radius-image {
  border-radius: 20px;
}
.w3l-index-block4 .feature-unit {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  transition: 0.3s ease-in;
}
p {
  color: var(--font-color);
  font-size: 17px;
  line-height: 27px;
}
.w3l-index-block4 .feature-unit {
  text-decoration: none;
  transition: all 0.3s;
  background: #fafafa;
  padding: 25px 10px;
  margin: 15px;
  border: 1px solid #00000000;
  border-radius: 10px;
  background: none;
}
.w3l-index-block4 .feature-unit:hover {
  border: 1px solid var(--border-color-light);
  background: var(--bg-color);
}
.features15-para p {
  font-family: "Source Sans Pro", sans-serif;
}
.grids_info span.fa {
  font-size: 30px;
  color: #fb811e;
}
.w3l-index-block4 .feature-unit h4 {
  transition: 0.3s ease-in;
  color: var(--heading-color);
  font-family: "Volkhov", serif;
}
.w3l-index-block4 .feature-unit:hover h4 {
  color: var(--secondary-color);
}
/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 0.5em;
}
.gallery_effect p {
  font-family: "Source Sans Pro", sans-serif;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

.gallery-img-grid.hover14,
.agile-gallery_grid_main {
  padding: 0;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/*-- //container --*/

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column .gallery_effect {
  position: relative;
}

h5.small-title {
  color: var(--primary-color);
  font-size: 22px;
  font-family: "Volkhov", serif;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: var(--heading-color);
}
body button,
.btn,
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #956fef;
  border-color: #956fef;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

.d-block {
  display: block !important;
}

h5.gall-text {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
  font-family: "Volkhov", serif;
}

.column .gallery_effect img {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.hover14 figure {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-17deg);
  -moz-transform: skewX(-17deg);
  -o-transform: skewX(-17deg);
  -ms-transform: skewX(-17deg);
  transform: skewX(-17deg);
}

.hover14 figure:hover::before {
  -webkit-animation: shine 0.95s;
  -moz-animation: shine 0.95s;
  animation: shine 0.95s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #ff4c4c;
  border: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #956fef;
  box-shadow: none;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #956fef;
  border-color: #956fef;
  box-shadow: 0 0 0 0.2rem rgb(102 16 242 / 35%);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #ff4c4c;
  border-color: #ff4c4c;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #956fef;
  border-color: #956fef;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(117 202 194 / 58%);
}

.w3l-clients-1 {
  background: var(--bg-light);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
}

.w3l-clients-1:before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.w3l-clients-1 .testi-des {
  text-align: center;
}

.w3l-clients-1 blockquote q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}

.w3l-clients-1 span.fa {
  font-size: 25px;
  color: var(--primary-color);
  font-weight: 600;
  display: inline-block;
}

.w3l-clients-1 .test-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
  margin-bottom: 10px;
}

.w3l-clients-1 .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.w3l-clients-1 .testimonial .peopl {
  margin: 0;
}

.w3l-clients-1 .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
  font-family: "Volkhov", serif;
}

.w3l-clients-1 p.identity {
  color: #fff;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}

.testimonial-content {
  max-width: 900px;
  margin: auto;
}
.w3l-clients-1 blockquote q {
  font-family: "Source Sans Pro", sans-serif;
}
@media (max-width: 736px) {
  .w3l-clients-1 blockquote q {
    font-size: 17px;
    line-height: 30px;
  }

  .w3l-clients-1 .testimonial .peopl h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 415px) {
  .w3l-clients-1 .testi-des {
    margin-top: 30px;
  }

  .w3l-clients-1 .testimonial .peopl h3 {
    font-size: 18px;
  }

  a.testi-img {
    width: 75px;
    height: 75px;
  }
}

.w3l-clients-1 .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  bottom: -90px;
}

.w3l-clients-1 .owl-theme .owl-dots .owl-dot.active span,
.w3l-clients-1 .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
  opacity: 1;
}

.w3l-clients-1 .owl-theme .owl-dots .owl-dot span {
  background: #fff;
  opacity: 0.3;
  margin-right: 10px;
}

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  /* -moz-backface-visibility: hidden; */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* -webkit-transform: translate3d(0, 0, 0); */
}

/* .owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
} */

/* .owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
} */

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  /* -webkit-backface-visibility: hidden; */
  transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .owl-theme .owl-nav {
    display: none !important;
  }
}

@media (max-width: 568px) {
  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: none;
  }
}

/**
    * Owl Carousel v2.3.4
    * Copyright 2013-2018 David Deutsch
    * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
    */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  display: block;
}

.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 75px;
  background: none;
}

.w3l-testimonials .owl-dots {
  margin-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  background: none;
  display: block;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 20px;
  margin: 0px;
  width: 46px;
  background: rgba(255, 255, 255, 0.21);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 46px;
  line-height: 15px;
  border-radius: 50%;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #fff;
  opacity: 1;
  color: #fe5a0e;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.owl-theme .owl-nav [class*="owl-"]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
  outline: none;
  box-shadow: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 1px;
  background: #aaa;
  display: block;
  /* -webkit-backface-visibility: visible; */
  transition: opacity 0.2s ease;
  position: relative;
  opacity: 0.9;
  border-radius: var(--border-radius);
}
/* .owl-theme .owl-dots, .owl-theme .owl-nav{
  display: none;
} */
@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.33333%;
  }

  .offset-sm-2 {
    margin-left: 16.66667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333%;
  }

  .offset-sm-5 {
    margin-left: 41.66667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333%;
  }

  .offset-sm-8 {
    margin-left: 66.66667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333%;
  }

  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333%;
  }

  .offset-md-2 {
    margin-left: 16.66667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333%;
  }

  .offset-md-5 {
    margin-left: 41.66667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333%;
  }

  .offset-md-8 {
    margin-left: 66.66667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333%;
  }

  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333%;
  }

  .offset-lg-2 {
    margin-left: 16.66667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333%;
  }

  .offset-lg-5 {
    margin-left: 41.66667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333%;
  }

  .offset-lg-8 {
    margin-left: 66.66667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333%;
  }

  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
/* START FOOTER */
footer .find-us h3 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  font-weight: 600;
  color: var(--heading-color);
  font-family: "Volkhov", serif;
}
.find-us ul {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0;
}
.find-us ul .address {
  margin-top: 0;
}
.find-us li {
  list-style: none;
  line-height: 24px;
  color: var(--font-color);
  font-size: 17px;
  margin-top: 15px;
}
.find-us a {
  text-decoration: none;
  line-height: 24px;
  color: var(--font-color);
  font-size: 17px;
  transition: all 0.5s;
}
.find-us a:hover {
  color: var(--primary-color);
}
.farm-word h1 {
  font-family: "Volkhov", serif;
  font-size: 32px;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
}
.farm-word h1:hover a {
  color: var(--heading-color);
}
.farm-word h1 a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.5s;
}
.farm-word h1 i {
  position: absolute;
  font-size: 20px;
  top: -3px;
  left: 55px;
  transform: translate(10deg);
  display: inline-block;
}
.farm-word p {
  font-size: 17px;
  color: var(--font-color);
  line-height: 27px;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0;
}
.farm-word p span {
  color: var(--secondary-color);
  transition: all 0.4s;
  font-family: "Source Sans Pro", sans-serif;
}
.farm-word p span:hover {
  color: var(--primary-color);
}
.newsletter h3 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  font-weight: 600;
  color: var(--heading-color);
  font-family: "Volkhov", serif;
}
.newsletter p {
  font-size: 17px;
  color: var(--font-color);
  line-height: 27px;
  font-family: "Source Sans Pro", sans-serif;
}
.newsletter input {
  background: var(--bg-grey);
  border: 1px solid var(--border-color-light);
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: var(--font-color);
  border-radius: 30px 0 0 30px;
}
.newsletter button {
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  color: #fff;
  border-radius: 0 30px 30px 0;
  width: 20%;
  transition: all 0.5s;
}
.newsletter button:hover {
  opacity: 0.7;
}
.newsletter .media a {
  color: var(--secondary-color);
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  transition: all 0.5s;
}
.newsletter .media a:hover {
  color: var(--primary-color);
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
.newsletter .media i {
  display: inline-block;
}
/* END FOOTER */
/* START BACK TO TOP */
.backToTop a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: var(--secondary-color);
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 100;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
}
/* END BACK TO TOP */
